#skills{
    padding: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    background-color: var(--secondary-color);
}


#skills .langs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills .langs img{
    width: 200px;
    height: max-content;

}